name: Auto Tag

on:
  pull_request:
    branches:
      - main
    types:
      - closed

permissions:
  contents: write 

jobs:
  tag:
    runs-on: ubuntu-latest

    steps:
      - name: Get current version
        uses: actions-ecosystem/action-get-latest-tag@v1
        id: get-latest-tag

      - name: Bump semantic version
        id: bump-semver
        uses: jsok/svu-version-bump-action@v2
        with:
          bump: 'next'

      - name: Tag version
        if: ${{ steps.get-latest-tag.outputs.tag != steps.bump-semver.outputs.version && steps.bump-semver.outputs.version != null }}
        uses: actions-ecosystem/action-push-tag@v1
        with:
          tag: ${{ steps.bump-semver.outputs.version }}
